body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.box {
    display: block;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box1 {
    display: block;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #007BFF;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table1 tr:hover {
    background-color: #eaeaea;
}

p {
    text-align: center;
    font-size: 10px;
}

.box2 {
    display: block;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.table2 {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

.table2 th,
td {
    padding: 15px;
    border: 1px solid grey;
}

.table2 th.noborder {
    border: none;
}

.table2 th {
    background-color: #e3de4d;
    color: rgb(118, 116, 116);
}

.table2 tr:nth-child(odd) {
    background-color: #dedede;
}

.table2 tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table2 tr:hover {
    background-color: #cbc8c8;
}

.box3 {
    display: block;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box4 {
    display: block;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box5 {
    display: block;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table3 {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

.table3 th {
    background-color: rgb(241, 119, 119);
    color: #333;
}

.table3 td {
    background-color: white;
}

img {
    height: 100px;
}

.table3 th.noborder {
    border: none;
}